body {
      background-color: #FBD139;
      font-family: 'Ubuntu', sans-serif;
}

h1 {
      color: #2600FF;
      background-color: #FFF8dc;
}

#show_sketch {
      float: right;
}

canvas {
      border: 5px solid #FFFFFF;
      border-radius: 20px;
      animation-name: example;
      animation-duration: 4s;
      margin-top: 50px;
      animation-iteration-count: infinite;
}

@keyframes example {
      from {box-shadow: 1px 1px 38px #808080;}
      to {box-shadow: 1px 1px 38px #FFFFFF;}
}

p {
      padding-top: 10px;
      font-size: 25px;
}